<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Recipes</title>
</head>
<body>
    <nav>
        <img src="/images/pie.svg">
        <a href="/recipes">All Recipes</a>
        
        <% if (user){ %>
            <a href="/recipes/new">Add Recipe</a>
            <a href="/recipes/recommended">Reccomended</a>
      <%  } else { %>
        <a href="/auth/google" class="login">Log_In</a>
     <% }%>

    </nav>
<main>

