<%- include('./partials/header') %>


    <a href="/auth/google" class="login">Log In</a>
    <a href="/recipes">all res</a>
    <a href="/recipes/new">new recipes</a>

 <%- include('./partials/footer') %>