@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Rye&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Courier Prime', monospace;
  color: #000000;
}

body {
  font-family: 'Courier Prime', monospace;
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: #85cb5c;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 40px 0px 40px;
}
nav > a {
  font-family: 'Courier Prime', monospace;
  margin: 15px;
}

nav > img {
  width: 150px;
  object-fit: contain;
  margin-right: auto;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: #eafffa;
  padding: 20px;
  overflow-y: scroll;
}

#imagetable{
max-width: auto;
max-height: 5px;
}

.login {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 34px;
}

section {
  font-family: 'Courier Prime', monospace;
}

table, th, td {
  text-align: center;
  border: 1px solid black;
}